%h1 About this Site
%div This site was created using Ruby 2.0 with Rails 4.0.1.

%h3 Styling
%div Bootstrap: Responsiveness and style

%h3 Authentication
%div OmniAuth: provide 3rd party authentication (Facebook)

%h3 Deployment
%div Heroku